body {
    background-color: rgba(14, 9, 17, 0.758);
    position: absolute;
    left: 10%; 
    text-align: center;   
} 

img {
   position: relative;
  
    left: 20px;
    width: 20%;
}
